@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  font-family: 'Space Grotesk', system-ui, sans-serif;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: #00b272;
  --amplify-components-fieldcontrol-focus-box-shadow: #00b272;
  --amplify-components-tabs-item-active-border-color: #00b272;
  --amplify-components-tabs-item-color: var(--amplify-components-field-label-color);
  --amplify-components-tabs-item-hover-color: #00b272;
  --amplify-components-tabs-item-active-color: #00b272;
  --amplify-components-button-link-color: var(--amplify-components-field-label-color);
  --amplify-components-button-link-hover-color: #ffffff;
  --amplify-components-button-link-hover-background-color: #00b272;
  --amplify-components-button-primary-hover-background-color: #007048;
  --amplify-components-passwordfield-button-hover-background-color: #00b27210;
}
